html{
    scroll-behavior: smooth;
}



.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top:-50px;
}

.skip a:focus{
  position:absolute;
  top: 10px;
}


nav{
  background-color: #9400D3;
  padding: 25px 0; 
  text-align: center;
}


nav a{
  color:#E6E6FA;
  text-decoration: none;  
}

nav li {
  transition: .3s background-color; 
  display: block;
  font-weight: bold;
}
nav a:hover{
  text-decoration: underline;
  background-color:blue;
}

.current{
  text-transform: uppercase;
  background-color:rgb(73, 16, 138);
  color:rgb(255, 255, 255);
}
.current:before{
  content:'📚';
}

.container img{
  display: inline;
  /* display: grid;
  grid-template-columns: 85%;
  grid-template-rows: auto;
  width: 100%; */
}



header {
  color: whitesmoke;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  /* color:hsl(266, 45%, 89%); */
  display: inline-block;
  padding: 25px;
  width: 100%;
  background-image: url(https://www.teahub.io/photos/full/353-3535480_harry-potter-john-rylands-library.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}
header h1, header p{
  background-color: black;
  font-size: 24px;
  padding: 0 100px;
}

main{
  font-family:Roboto, system-ui, sans-serif;
  background-color: hsl(266, 45%, 89%);;
}


footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}
.finished_container, .toRead_container{
  text-align: center;
  width: 100%;
}
.finished_imgs, .toRead_imgs{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 85%;
  grid-template-rows: auto;
  width: 100%;
}

/* .finished_imgs{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.finished_imgs > img{
  align-content: center;
  width:95%;
}
.finished_container:hover .finished_imgs {
  transform: rotateY(180deg);
}
.flip-card-front1, .flip-card-back1, flip-card-front2, flip-card-back2, flip-card-front3, flip-card-back3, flip-card-front4, flip-card-back4, flip-card-front5, flip-card-back5 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
/*
.flip-card-front1, flip-card-front2, flip-card-front3, flip-card-front4, flip-card-front5 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
/*
.flip-card-back1, flip-card-back2,flip-card-back3, flip-card-back4, flip-card-back2 {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
} 
*/

 
#f1,#t1,#t2,#t3{
  grid-row: 1/1;
}
#f2{
  grid-row: 2/2;
}
#f3{
  grid-row: 3/3;
}
#f4{
  grid-row: 4/4;
} 
#f5{
  grid-row: 5/5;
} 
#f6{
  grid-row: 6/6;
} 
#f1,#f2,#f3,#f4,#f5,#f6{
  grid-column: 1/1;
  object-fit: cover;
  align-items: center;
  width: 160px;
  height: 250px;
}
#t1,#t2,#t3{
  object-fit: cover;
  align-items: center;
  width: 160px;
  height: 250px;
}
/* .finished_imgs > img{
  align-items: center;
  width: 160px;
  height: 250px;
} */

.text{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  align-self: center;
}


form {
  border: 3px solid #f1f1f1;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox]{
}

input[type=submit] {
  background-color: #38803C;
  color: white;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.Sapiens, .B1984, .SilentMajority{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-style:solid;
  border:floralwhite 2px;
  
}
.Sapiens>img, .B1984>img, .SilentMajority>img{
  grid-column: 1/1;
  
  margin: 10px;
  width: 160px;
  height: 250px;
}
#content1, #content2, #content3{
  grid-column: 2/2;
}

/* #finmain> img{
  /* this is not working--- need to be fixed */
  /* width: 160px;
  height: 250px;
} */ 

#read_main{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;

  
  /* justify-self: center;
  justify-items: center;
  align-items: center;
  align-content: center; */
}
#read_main img{
  align-self: center;
  justify-self: center;
}
/* mobile view */
/* @media (max-width: 500px) {

  nav {
    height:100%;
   }
  
} */
#main div{
  margin:20px;
}
/* laptop view */
@media screen and (min-width: 600px) {
  
  nav li {
    border-bottom: none;
    /* display: inline-block;   This need to be fix!!!! Look hw5 for nav */
    /* float: right; */ 
    display:inline;
    padding-right:20px;
    text-align: right;
    align-items:center; 
    /* text-align: right;
    align-items: center; */
  }

  .finished_imgs, .toRead_imgs{
    display: grid; 
    
    grid-template-columns: 1fr 1fr 1fr;
  }
  .finished_imgs{
    grid-template-rows: 1fr 1fr;
  }
  .toRead_imgs{
    grid-template-rows: 1fr;
  }
  /* #f1{
    grid-row: 1/1;
  }
  #f2{
    grid-row: 2/2;
  }
  #f3{
    grid-row: 3/3;
  }
  #f4{
    grid-row: 4/4;
  } 
  #f5{
    grid-row: 5/5;
  }  */
  #f1,#f2,#f3{
    grid-row: 1/1;
    object-fit: cover;
  }
  #f4,#f5,#f6{
    grid-row: 2/2;
  }

  #read_main{
    flex-wrap: nowrap;
    align-items: center;
  }

}






@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
  
  header{  
    background-attachment: initial;  /*Turn off parallax*/
  }
}
